@font-face {
    font-family: 'GothamPro-Bold';
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.woff') format('woff'),
        url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Medium';
    src: url('../fonts/GothamPro-Medium.eot');
    src: url('../fonts/GothamPro-Medium.woff') format('woff'),
        url('../fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Light';
    src: url('../fonts/GothamPro-Light.eot');
    src: url('../fonts/GothamPro-Light.woff') format('woff'),
        url('../fonts/GothamPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Regular';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.woff') format('woff'),
        url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3 {
    font-family: 'GothamPro-Bold';
}

h4, h5, h6 {
    font-family: 'GothamPro-Medium';
}

p {
    font-family: 'GothamPro-Regular';
}

textarea {
    font-family: 'GothamPro-Light';
    outline: none;
}

.greeting {
    padding: 30px 0 30px 0;
    background-color: #009999;
}

.img-photo {
    height: 400px;
}

.valuation-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #39AECF;
    margin-bottom: 30px;
}
.valuation-title, .valuation-descroption {
    margin: 20px 0 20px 0;
}


.valuation-items {
    margin: 20px 0 20px 0;
}

.valuation-item {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid #057D9F;
}

.valuation-item:hover {
    background-color:#057D9F;
    /* border: 2px solid #1C0772; */
    color: #ffffff;
}

.like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.like-title {
    margin: 10px 0 30px 0;
}

.like-subtitle {
    margin-bottom: 40px;
}

.like-block textarea {
    height: 90px;
    width: 600px;
    margin-bottom: 30px;
}

.btn-my {
    margin-bottom: 50px;
}

/* /////// */
.active {
    background-color: #eb4034;
    border: 2px solid #eb4034;
}
.active:hover {
    background-color: #eb4034;
    border: 2px solid #eb4034;
}
