@font-face {
    font-family: 'GothamPro-Bold';
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.woff') format('woff'),
        url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Medium';
    src: url('../fonts/GothamPro-Medium.eot');
    src: url('../fonts/GothamPro-Medium.woff') format('woff'),
        url('../fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Light';
    src: url('../fonts/GothamPro-Light.eot');
    src: url('../fonts/GothamPro-Light.woff') format('woff'),
        url('../fonts/GothamPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Regular';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.woff') format('woff'),
        url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body , html {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'GothamPro-Bold';
}
.container-fluid {
    margin: 0;
    padding: 0;
}

h4, h5, h6 {
    font-family: 'GothamPro-Medium';
}

p {
    font-family: 'GothamPro-Regular';
}

textarea {
    font-family: 'GothamPro-Light';
    outline: none;
}

.greeting {
    padding: 30px 20px 30px 20px;
    background-color: #2AABE4;
    text-align: center;
}

.greeting :nth-child(1) {
    margin-bottom: 20px;
}
.my-photo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-photo {
    height: auto;
    width: 60%;
    margin: 0;
}

.valuation-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #33393D;
    margin-bottom: 30px;
    padding: 0 20px 0 20px;
    color:#ffffff;
}
/* .valuation-title, .valuation-descroption {
    margin: 20px 0 20px 0;
} */
.valuation-descroption {
    text-align: center;
}


.valuation-items {
    margin: 20px 0 20px 0;
}

.valuation-item {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid #057D9F;
    font-size: 18px;
}

.valuation-item:hover {
    cursor: pointer;
    background-color:#057D9F;
    /* border: 2px solid #1C0772; */
    color: #ffffff;
}

.like {
    width: 100%;
    /* padding: 0 10px 0 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.like-title {
    margin: 10px 0 30px 0;
}

.like-subtitle { 
    font-size: 14px;
    margin-bottom: 40px;
    padding: 0 20px 0 20px;
}

.like-block, .like-blocks {
    width: 100%;
}

.like-block textarea {
    height: 90px;
    width: 80%;
    margin-bottom: 30px;
    border: 1px solid #333;
}

.btn-my {
    background-color: #33393D;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 50px;
    cursor: pointer;
}

.btn-my:hover {
    background-color:  #057D9F;
}

/* /////// */
.active {
    background-color: #057D9F;
    border: 2px solid #057D9F;
}
.active:hover {
    background-color: #057D9F;
    border: 2px solid #057D9F;
}


@media screen and (min-width: 630px)  {
    .valuation-items  {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .img-photo {
        height: auto;
        width: 50%;
    }
} 

@media screen and (min-width: 1000px)  {
    .like-block textarea {
        height: 90px;
        width: 60%;
        margin-bottom: 30px;
        border: 1px solid #333;
    }


    .img-photo {
        width: 30%;
    }
}