@font-face{
    font-family: 'MuseoSansCyrl100';
    src: url('./museo-sans-cyr/MuseoSansCyrl-100.woff') format('woff'),
    url('./museo-sans-cyr/MuseoSansCyrl-100.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    }

@font-face{
    font-family: 'MuseoSansCyrl300';
    src: url('./museo-sans-cyr/MuseoSansCyrl-300.woff') format('woff'),
    url('./museo-sans-cyr/MuseoSansCyrl-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'MuseoSansCyrl500';
    src: url('./museo-sans-cyr/MuseoSansCyrl-500.woff') format('woff'),
    url('./museo-sans-cyr/MuseoSansCyrl-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'MuseoSansCyrl700';
    src: url('./museo-sans-cyr/MuseoSansCyrl-700.woff') format('woff'),
    url('./museo-sans-cyr/MuseoSansCyrl-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    }

@font-face{
    font-family: 'MuseoSansCyrl900';
    src: url('./museo-sans-cyr/MuseoSansCyrl-900.woff') format('woff'),
    url('./museo-sans-cyr/MuseoSansCyrl-900.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
