@font-face {
    font-family: 'BigNoodleTitling';
    src: url('../fonts/BigNoodleTitling.woff2') format('woff2'),
        url('../fonts/BigNoodleTitling.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.navigation {
    height: 140px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    background-color: #f8f6f6;
}

.nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logo {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo p {
    text-transform: uppercase;
    font-family: 'BigNoodleTitling', sans-serif;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.logo img {
    height: 50px;
    width: 30px;
}

.first-block {
    height: 700px;
    width: 100%;
    background-color: #353535;
}

.slide {
    display: block;
    height: 100%;
    width: 100%;
    color: #d6d5d5;
    padding-top: 300px;
}

.slide h1 {
    font-size: 72px;
}

.slide h3 {
    font-size: 36px;
}

.subtext {
    display: block;
    padding-top: 170px;
    margin: 0;
}

.subtext p {
    font-family: 'Roboto', sans-serif;
}

.pe-7s-mouse {
    font-size: 36px;
}

.about-us {
    background-color: #fff;
    position: relative;
    padding-bottom: 120px;
}

.about-us-head h2 {
    display: block;
    padding-top: 90px;
    color: #3d3d3d;
    font-family: 'BigNoodleTitling', sans-serif;
    font-size: 48px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.about-us-head span {
    height: 2px;
    width: 155px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f4511e;
}

.about-us-head p {
    display: block;
    padding-top: 20px;
    color: #838383;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.about-us-column i {
    padding-bottom: 30px;
    color: #f4511e;
}

.advantages-content {
    padding: 60px 20px 20px 20px;
    background-color: #ebebeb;
}

.advantages h3 {
    text-transform: uppercase;
}

/*block video */
.video-container {
    padding: 0;
    margin: 0;
}

.video-wrap {
    justify-content: stretch;
    padding: 0;
    margin: 0;
}

.video-description {
    font-family: 'Roboto', sans-serif;
    background-color: #171f23;
    text-align: center;
    padding: 0;
}

.video-description h2 {
    padding-top: 130px;
    color: #e7e7e7;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;

}

.video-description p {
    color: #3d3d3d;
    font-size: 14px;
}

.video-description button {
    height: 40px;
    width: 130px;
    margin-bottom: 100px;
    background-color: #f4511e;
    border: none;
    border-bottom: 2px solid #b11000;
    text-transform: uppercase;
    color: #e7e7e7;
}

.play-wrap {
    width: 100%;
    /* height: 23.3vw; */
    height: 100%;
}
.play-wrap iframe {
    width: 100%;
    height: 100%;
}
.video-play {
    padding: 0;
    margin: 0;
}

.video-play video {
    /* margin: 0; padding: 0;
     */
     object-fit: cover;
}